.notification{
  position: fixed;
  top:3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
  transition: background-color 200ms;
  white-space: nowrap;
  padding: 0 5%;
}

#main__title {
  font-weight: bold;
  color: #673AB7;
  text-align: center;
  margin: calc(2vw + 1rem) auto;
}

.forecast__container{
  margin: 2vw auto;
  padding: 2vw 2vw;
  display: grid;
  gap:1em;
  align-items: center;
  justify-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);

}

.form__salary {
  display:grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 1fr;
}

.form__salary label {
  font-weight: bold;
  color: #673AB7;
}

.form__salary input{
  background-color: rgba(217, 204, 238, 0.5);
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.instruction{
  text-align: center;
}

.forecast__form {
  display:grid;
  justify-items: center;
  gap: calc(1vw + 0.2rem);
}

.form__input {
  padding: 3% 0;
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  justify-items: center;
  align-items: center;
  background-color:#fdfcff;
  border-radius: 1em;
  box-shadow: 0px 0px 5px #673AB7;
}

.form__input-img {
  text-align: center
}

.form__input-set{
  display:grid;
  gap: 0.5em;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.form__input-set label {
  font-weight: bold;
  color: rgb(87, 85, 85);
}

.form__input-set input::-webkit-slider-runnable-track{
  background: #d3c4ee;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.form__input-set input[type=range] {
  width: 100%;
}

.form__input-amount {
  font-weight: bold;
  color: #673AB7;
}

button:disabled {
  opacity: 0.6;
}

.button{
  margin-top: 1rem;
  display: grid;
  gap: 2vw;
  grid-template-columns: 1fr 1fr;
}

#form-cancelButton{
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

#form-submitButton {
  background: #754abf;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

#form-submitButton:hover {
  background-color: #673AB7;
}

@media (min-width: 990px) {
  .text {
    font-size: 1.5rem!important;
  }
  .md-text {
    font-size: 2.5rem!important;
  }
}
