@if(salary){
  <div class="notification fs-5 text" [style]="notificationCustom().style">
      <p>{{ notificationCustom().text }}</p>
  </div>
} @else {}
<h2 id="main__title" class="fs-2 md-text">Forecast settings</h2>
<div class="forecast__container col-10 col-lg-4">
  <form id="form">
    <div class="form__salary fs-5 text">
      <label for="salary">Salary</label>
      <input type="number" id="salary" [(ngModel)]="salary" name="salary" required>
    </div>
    @if(salary){
      <div class="forecast__form">
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Food.png" alt="food" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="food">Food</label>
            <input type="range" name="food" min="0" max="100" [(ngModel)]="foodRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ foodRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * foodRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Transport.png" alt="transport" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="transport">Transport</label>
            <input type="range" id="transport" name="transport" min="0" max="100" [(ngModel)]="transportRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ transportRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * transportRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Sport.png" alt="sport" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5v">
            <label for="sport">Sport</label>
            <input type="range" id="sport" name="sport" min="0" max="100" [(ngModel)]="sportRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ sportRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * sportRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Invoice.png" alt="invoice" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="invoice">Invoice</label>
            <input type="range" id="invoice" name="invoice" min="0" max="100" [(ngModel)]="invoiceRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ invoiceRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * invoiceRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Shopping.png" alt="shopping" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="shopping">Shopping</label>
            <input type="range" id="shopping" name="shopping" min="0" max="100" [(ngModel)]="shoppingRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ shoppingRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * shoppingRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/Leisure.png" alt="leisure" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="leisure">Leisure</label>
            <input type="range" id="leisure" name="leisure" min="0" max="100" [(ngModel)]="leisureRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ leisureRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * leisureRate / 100 }}</p>
          </div>
        </div>
        <div class="form__input fs-5 text">
          <div class="form__input-img">
            <img src="../../assets/images/RealEstate.png" alt="realEstate" class="img-fluid col-6 col-lg-4"/>
          </div>
          <div class="form__input-set fs-5 text">
            <label for="realEstate">Real Estate</label>
            <input type="range" id="realEstate" name="realEstate" min="0" max="100" [(ngModel)]="realEstateRate" (input)="updateTotal()">
            <p class="fs-6 text">{{ realEstateRate }}%</p>
          </div>
          <div class="form__input-amount fs-6 text">
            <p>$ {{ salary * realEstateRate / 100 }}</p>
          </div>
        </div>
        <div class="button fs-5 text">
          <button type="button" [disabled]="submitButton()" (click)="setForecast()" id="form-submitButton">Set forecast</button>
        </div>
      </div>
    } @else {
      <p class="instruction fs-5 text">Enter your income to forecast your budget</p>
    }
  </form>
</div>
