.notification{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3rem;
  font-size: 1.7rem;
  right: 1%;
  width: 15%;
  height: 12%;
  padding: 2em 1.5em;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
  transition: background-color 200ms;
}

.forecast__container{
  text-align: center;
  margin-top: 2em;
  margin: 0 10% 8% 10%;
  padding: 2em 2em;
  border-radius: 1rem;
  background-color:rgba(197, 194, 203, 0.5);
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
  margin: 0 auto 5% auto;
  width: 50%;
}

#title {
  font-size: 3em;
  margin-bottom: 7%;
}

.form__salary {
  margin: 4% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__salary label {
  margin-bottom: 2%;
  font-size: 2em;
  font-weight: bold;
  color: #673AB7;
}

.form__salary input {
  background-color: rgba(217, 204, 238, 0.5);
  width: 30%;
  padding: 1% 3%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-size: 1.3em;
}

.instruction{
  font-size: 1.5em;
}

.category {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  padding: 2em 3em;
  align-items: center;
  margin: 4% 2%;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
}

.category__left {
  align-items: center;
  width: 10%;
}

.category__right {
  font-size: 2rem;
  font-weight: bold;
  color: #673AB7;
  width: 10%;
}

.category__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto 3%;
}

.category__center label {
  margin: 0 auto 3% auto;
  font-size: 2.2em;
  font-weight: bold;
  color: rgb(87, 85, 85);
}

.category__center input{
  width: 100%;
}

.category__center input::-webkit-slider-runnable-track{
  border: 1px solid #ccc;
  border-radius: 1rem;
  height: 1.2rem;
  background: #d3c4ee;
}

.category__center p{
  margin-top:3%;
  font-size: 1.5em;
}

.form-button {
  margin: 3em 0 2em 0;
}

button:disabled {
  opacity: 0.6;
}

#form-submitButton {
  background: #754abf;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin: 3% auto 5% auto;
  padding: 1em 2em;
  font-size: 1.7em;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form-submitButton:hover {
  background-color: #673AB7; /* Couleur au survol */
}
