@if(salary){
  <div class="notification" [style]="notificationCustom().style">
      <p>{{ notificationCustom().text }}</p>
  </div>
} @else {}
<div class="forecast__container">
  <h2 id="title">Forecast settings</h2>
  <form id="form">
    <div class="form__salary">
      <label for="salary">Salary</label>
      <input type="number" id="salary" [(ngModel)]="salary" name="salary" required>
    </div>
    @if(salary){
      <div class="forecastForm">
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Food.png" alt="food"/>
            </div>
            <div class="category__center">
              <label for="food">Food</label>
              <input type="range" name="food" min="0" max="100" [(ngModel)]="foodRate" (input)="updateTotal()">
              <p>{{ foodRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * foodRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Transport.png" alt="transport"/>
            </div>
            <div class="category__center">
              <label for="transport">Transport</label>
              <input type="range" id="transport" name="transport" min="0" max="100" [(ngModel)]="transportRate" (input)="updateTotal()">
              <p>{{ transportRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * transportRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Sport.png" alt="sport"/>
            </div>
            <div class="category__center">
              <label for="sport">Sport</label>
              <input type="range" id="sport" name="sport" min="0" max="100" [(ngModel)]="sportRate" (input)="updateTotal()">
              <p>{{ sportRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * sportRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Invoice.png" alt="invoice"/>
            </div>
            <div class="category__center">
              <label for="invoice">Invoice</label>
              <input type="range" id="invoice" name="invoice" min="0" max="100" [(ngModel)]="invoiceRate" (input)="updateTotal()">
              <p>{{ invoiceRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * invoiceRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Shopping.png" alt="shopping"/>
            </div>
            <div class="category__center">
              <label for="shopping">Shopping</label>
              <input type="range" id="shopping" name="shopping" min="0" max="100" [(ngModel)]="shoppingRate" (input)="updateTotal()">
              <p>{{ shoppingRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * shoppingRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/Leisure.png" alt="leisure"/>
            </div>
            <div class="category__center">
              <label for="leisure">Leisure</label>
              <input type="range" id="leisure" name="leisure" min="0" max="100" [(ngModel)]="leisureRate" (input)="updateTotal()">
              <p>{{ leisureRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * leisureRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="form__input">
          <div class="category">
            <div class="category__left">
              <img src="../../assets/images/RealEstate.png" alt="food"/>
            </div>
            <div class="category__center">
              <label for="realEstate">Real Estate</label>
              <input type="range" id="realEstate" name="realEstate" min="0" max="100" [(ngModel)]="realEstateRate" (input)="updateTotal()">
              <p>{{ realEstateRate }}%</p>
            </div>
            <div class="category__right">
              <p>$ {{ salary * realEstateRate / 100 }}</p>
            </div>
          </div>
        </div>
        <div class="button">
          <button type="button" [disabled]="submitButton()" id="form-submitButton">Set forecast</button>
        </div>
      </div>
    } @else {
      <p class="instruction">Enter your income to forecast your budget</p>
    }
  </form>
</div>
