#navBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background: linear-gradient(to right, #673AB7, #9575CD);
  padding: 0 5%;
  margin-bottom: 2%;
}

#navBar__title {
  margin: 3% 5%;
  color:#d6cbe9;
}

#navBar__title:hover {
  color:#e7e2f1;
}

#navBar__logout {
  padding: 3% 2%;
  width: 20%;
  border-radius: 1rem;
  background-color: #ccb9ed;
  border:none;
}

#navBar__logout:hover {
  background-color: #e1d6f5;
}

@media (min-width: 990px) {
  .md-text {
    font-size: 2.5rem!important;
  }
  .text {
    font-size: 1.5rem!important;
  }
}
