<div class="container">
  <h2 id="title">Your accounts</h2>
  <div class="accounts">
      @for (account of accountsList; track account.name) {
        <div routerLink="/transactions" (click)="goToTransactions(account)" class="account">
          <div class="account__info">
            <p>{{ account.name }}</p>
            <p>{{ account.bank }}</p>
          </div>
          <div class="account__deleteButton">
            <button (click)="deleteAccount(account)" id="account__deleteButton">Delete account</button>
          </div>
        </div>
      } @empty {
        <p>No account yet</p>
      }
      <div class="account__newButton">
        <button (click)="goToAccountCreationForm()" id="account__newButton">New account</button>
      </div>
  </div>
</div>
