.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10% 6% 10%;
  padding: 4em 4em;
  border-radius: 1rem;
  background-color:rgba(231, 219, 255, 0.213);
  border: 1px solid rgba(114, 60, 201, 0.5);
}

.accounts__up{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

#title {
  font-size: 3em;
  font-weight: bold;
}

#account__newButton {
  font-size: 1.5rem;
  background: #673AB7;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5% 3%;
  cursor: pointer;
}

#account__newButton:hover {
  background-color: #754abf;
}

.accounts {
  display: flex;
  flex-direction: column;
}

.account{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.account__infos {
  padding: 1em 3em;
  justify-content: space-between;
  width: 100%;
  background-color:#d1c2eb;
  border-radius: 10px;
}

.account__infos:hover {
  box-shadow: 0px 0px 10px #673AB7;
}

.account__details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  padding: 0.5rem 0;
}

#account__left {
  width: 70px;
  height: 70px;
}

#account__center {
  width: 70%;
  text-align: center;
  margin: 0 20%;
}

#account__right {
  width: 30%;
  text-align: right;
  font-weight: bold;
  color: #673AB7;
  font-size: 2rem;
}

.account__details p:first-child{
  font-size: 1.5rem;
  font-weight: bold;
}

