<div id="container">
  <h2 id="title">Create a new transaction</h2>
  <form id="form">
    <div class="form-input">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" [(ngModel)]="subject" name="subject" required>
    </div>
    <div class="form-input">
      <label for="note">Note:</label>
      <input type="text" id="note" [(ngModel)]="note" name="note">
    </div>
    <div class="form-input">
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="category" name="category" required>
        @for(category of categories; track category) {
        <option>{{ category }}</option>
        } @empty {
          <p>No category</p>
        }
      </select>
    </div>
    <div class="form-input">
      <label for="amount">Amount:</label>
      <input type="text" id="amount" [(ngModel)]="amount" name="amount" required>
    </div>
    <div class="form-button">
      <button type="button" (click)="addNewTransaction()" id="form-submitButton">Create transaction</button>
    </div>
  </form>
</div>
