<div class="container">
  @for(user of usersList; track user.firstname) {
    <div class="row">
      <div class="col m12">
          <div (click)="goToOneUser(user)" class="card horizontal hoverable">
              <div class="card-image" style="display: flex; align-items: center; max-width: 50px; height: auto;">
                  <img [src]="user" alt="{{ user.firstname }}"/>
              </div>
              <div class="card-stacked">
                  <div class="card-content">
                      <p>{{ user.firstname }}</p>
                      <p>{{ user.lastname }}</p>
                      <p>{{ user.gender }}</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  } @empty {
    <h4 class="center">No User found</h4>
  }
</div>
