@if(account) {
  <div class="container">
      <h2 id="title">Details of your account</h2>
      <div class="account">
        <div class="account__info">
          <div class="account__details">
            <p class="account__details-label">Name :</p>
            <p>{{ account.name }}</p>
          </div>
          <div class="account__details">
            <p class="account__details-label">Bank :</p>
            <p>{{ account.bank }}</p>
          </div>
        </div>
        <div class="account__amount">
          <p>PRIX</p>
        </div>
        <div class="button">
          <button (click)="deleteAccount()" routerLink="/dashboard" class="button">Delete</button>
        </div>
      </div>
    </div>
    <app-transaction-list></app-transaction-list>
} @else {
  <h4 class="center">No account found</h4>
}

