.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 10%;
  padding: 2em 3em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
}

#title {
  font-size: 3em;
  margin-bottom: 3%;
  text-align: center;
}

.account {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.account__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.account__details-label{
  font-weight: bold;
  padding: 0.5rem;
}

.account__amount {
  font-weight: bold;
  color: #673AB7;
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.button {
  font-size: 1.5rem;
  background: #673AB7;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5% 3%;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #754abf;
}

.center {
  text-align: center;
}
