@if(account) {
  <h2 id="title">Account details</h2>
  <div class="container">
      <div class="account">
        <div class="account__info">
          <img id="account__img" src="../../../assets/images/Account.png" alt="account">
          <div class="account__details">
            <p>Name : {{ account.name }}</p>
            <p>Bank : {{ account.bank }}</p>
          </div>
        </div>
        <div class="account__amount">
          <p>$ {{ totalExpenses }}</p>
        </div>
      </div>
    </div>
    <app-transaction-list
            [userId]="userId"
            [accountId]="accountId"
            (totalExpensesEvent)="handleTotalExpenses($event)">
    </app-transaction-list>
    <div class="buttons">
      <button (click)="deleteAccount()" routerLink="/dashboard" class="button">Delete</button>
      <button routerLink="/dashboard" class="button">Back</button>
    </div>
} @else {
  <h4 class="center">No account found</h4>
}
