<h2 class="center">Welcome to yourBudget App !</h2>

<div class="row">
  <form class="col s12 m6 offset-m3" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate" [(ngModel)]="email" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
        <label for="password">Password</label>
      </div>
      <div class="col s12 center">
        <button type="submit" class="btn">Login</button>
      </div>
    </div>
  </form>
  <div (click)="goToRegistration()" style="cursor: pointer">
    Create an account
  </div>
</div>
