<div id="container">
  <h2 id="title">Login</h2>
  <form id="form" (ngSubmit)="onSubmit()">
    <div>
      <div class="form_input">
        <label for="email">Email</label>
        <input id="email" type="text" class="validate" [(ngModel)]="email" name="email">
      </div>
      <div class="form_input">
        <label for="password">Password</label>
        <input id="password" type="password" class="validate" [(ngModel)]="password" name="password">
      </div>
      <div class="form_button">
        <button type="submit" id="form_submitButton">Login</button>
      </div>
    </div>
  </form>
  <div class="form_button">
    <p routerLink="/auth/register" id="form_createButton">Create an account</p>
  </div>
</div>
