.container {
  margin: 1vw auto;
  padding: 3vw 2vw;
  display: grid;
  align-items: center;
  gap: 5vw;
  background-color: whitesmoke;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgba(166, 122, 235, 0.5);
}

.forecast__up{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:5vw;
  align-items: center;
}

#title {
  font-weight: bold;
}

#button__manageForecast {
  background: #673AB7;
  padding: 1vw 1vw;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

#button__manageForecast:hover {
  background-color: #754abf;
}

@media (min-width: 990px) {
  .md-text {
    font-size: 2.5rem!important;
  }
}
