@if(transaction) {
  <div class="container">
      <h2 id="title">{{ transaction.subject }}</h2>
      <div class="transaction">
        <div class="transaction__img">
          <img [src]="'./assets/images/' + transaction.category + '.png'" alt="{{ transaction.category }}"/>
        </div>
        <div class="transaction__info">
            <div class="transaction__details">
              <p class="transaction__details-label">Note :</p>
              <p>{{ transaction.note }}</p>
            </div>
            <div class="transaction__details">
              <p class="transaction__details-label">Category :</p>
              <p>{{ transaction.category }}</p>
            </div>
        </div>
        <div class="transaction__amount">
          <p>{{ transaction.amount | currency: '$ ' }}</p>
        </div>
      </div>
      <div class="buttons">
        <button class="button">Edit</button>
        <button (click)="deleteTransaction()" class="button">Delete</button>
        <button routerLink="/account/detail" class="button">Back</button>
      </div>
    </div>

} @else {
  <h4 class="center">No transaction found</h4>
}

