<div *ngIf="transaction" class="row" >
  <div class="col s12 m8 offset-m2"> <!-- Utilisation d'une grille pour diviser en deux colonnes -->
    <h2 class="header center">{{ transaction.subject }}</h2>
    <div class="card horizontal">
      <div class="card-image" style="display: flex; align-items: center; justify-content: center; max-width: 200px; height: auto; margin: 30px 50px;">
        <img [src]="transaction.icon" alt="{{ transaction.subject }}" style="width: 100%; max-height: 150px;"/>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
              <tr>
                <td>Date</td>
                <td><strong><i>{{ transaction.date | date: 'dd MMMM yyyy' }}</i></strong></td>
              </tr>
              <tr>
                <td>Category</td>
                <td><strong>{{ transaction.category }}</strong></td>
              </tr>
              <tr>
                <td>Amount</td>
                <td><strong>{{ transaction.amount | currency: '$ ' }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-action">
      <a (click)="goToTransactionList()" style="cursor: pointer">Back</a>
      <a (click)="goToEditTransactionForm(transaction)" style="cursor: pointer">Edit</a>
    </div>
  </div>
</div>
<H4 *ngIf="!transaction" class="center">No transaction found</H4>
