#container {
  margin: 3em auto 5em auto;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 3em;
}

#container__img {
  position: relative;
}

#container__img img {
  border-radius: 3rem;
}

#container__img p {
  color: white;
  font-weight: bold;
  position: absolute;
  left: 10%;
  bottom : 10%;
}

#container__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4em;

}

@media (max-width: 675px) {
  #container__buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 2em;
  }
}

#button__login, #button__register {
  background: #754abf;
  color: white;
  border-radius: 3rem;
  cursor: pointer;
  padding: 5% 7%;
}
