#container {
  margin-top:-4%;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgb(237, 244, 246);
  padding-bottom: 50rem;
}

#img {
  max-width: 40%;
  margin-left: 1.5%;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-items: center;
  font-size: 2em;
}

#button__login, #button__register {
  background: #754abf;
  color: white;
  border-radius: 0.5rem;
  font-size: 1em;
  cursor: pointer;
  padding: 1em 2em;
}
