#container {
  margin-top: -5%;
  background-image: url('../../assets/images/logo7.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

#buttons {
  display: grid;
  position: absolute;
  bottom:15%;
  padding:0 10%;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  justify-items: center;
}

#button__login, #button__register {
  background: #754abf;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1em 2em;
}
