.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 12%;
  padding: 2em auto;
}

.transactions {
  padding: 4em 4em;
  background-color:rgba(231, 219, 255, 0.213);
  border: 1px solid rgba(114, 60, 201, 0.5);
  border-radius: 10px;
}

.transactions__up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
}

#title {
  font-size: 3em;
}

.transaction {
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 10px;
  background-color:#fdfcff;
  cursor: pointer;
  box-shadow: 0px 0px 5px #673AB7;
}

.transaction:hover {
  box-shadow: 0px 0px 10px #673AB7;
}

.transaction__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

#transaction__img {
  margin-right: 1rem;
  width: 60px;
  height: 60px;
}

.transaction__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.transaction__details p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  font-weight: normal;
}

.transaction__amount {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.button {
  font-size: 1.5rem;
  background: #673AB7;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5% 3%;
  cursor: pointer;
}

.button:hover {
  background-color: #754abf;
}
