<div class="container">
  <h2 id="title">Transactions</h2>
  <div class="transactions">
    @for(transaction of this.transactionsListByAccount; track transaction.subject) {
      <div class="transaction" (click)="goToOneTransaction(transaction)">
        <div class="transaction__info">
            <img id="transaction__img" [src]="transaction.icon" alt="{{ transaction.subject }}" />
            <div class="transaction__details">
                <p>{{ transaction.date | date: 'longDate' }}</p>
                <p>{{ transaction.subject }}</p>
            </div>
            <div class="transaction__amount">
              <p>{{ transaction.amount | currency: '$ ' }}</p>
            </div>
        </div>
      </div>
    } @empty {
      <p>No transaction on this account</p>
    }
    <div class="buttons">
      <button (click)="goToTransactionCreationForm()" class="button">New transaction</button>
      <button (click)="goBackToAccountList()" class="button">Back</button>
    </div>
  </div>
</div>
