<div class="container">
  @for(transaction of this.transactionsListByAccount; track transaction.subject) {
    <div class="row">
      <div class="col m12">
          <div (click)="goToOneTransaction(transaction)" class="card horizontal hoverable">
              <div class="card-image" style="display: flex; align-items: center; max-width: 50px; height: auto;">
                  <img [src]="transaction.icon" alt="{{ transaction.subject }}"/>
              </div>
              <div class="card-stacked">
                  <div class="card-content">
                      <p>{{ transaction.date | date: 'longDate' }}</p>
                      <p>{{ transaction.subject }}</p>
                      <p>{{ transaction.amount | currency: '$ ' }}</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  } @empty {
    <p>No account yet</p>
  }
  <div class="card-action">
    <a (click)="goBackToAccountList()" style="cursor: pointer">Back</a>
  </div>
</div>
